.LoginContainerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.LoginButtonWrapper {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: auto;
}

.LoginButtonMargin {
    margin-bottom: 10px;
    width: auto;
}